services:
  redis:
    image: redis:6.2.6-alpine
    container_name: ${COMPOSE_PROJECT_NAME}_redis
    ports:
      - "6379:6379"
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis/data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    restart: always